<h1><%= @user.name %>のページ</h1>

<% if @user.image.present? %>
  <%= image_tag @user.image.url %>
<% end %>
<p>プロフィール: <%= @user.profile %></p>
<p>メールアドレス: <%= @user.email %></p>


<% if current_user.id == @user.id %>
<%= link_to 'プロフィールの編集', edit_user_path(@user) %> |
<% end %>
<%= link_to '記事一覧に戻る', pictures_path %>