
  <div class="pictures row">
  <% @picture.each do |picture| %>
    <div class="article col-md-4 col-sm-6 col-xs-12">
      <p><%= picture.title %></p>
      <% if picture.image.url.present? %>
        <p><%= image_tag picture.image.url %></p> 
        <p><%= picture.user.name %></p> 
      <% end %>
      <p><%= picture.content %></p>
      <p><%= link_to "詳細を確認する", picture_path(picture.id) %></p>
      <% if logged_in? %>
        <% if current_user.id == picture.user.id %>
          <p><%= link_to "記事を編集する", edit_picture_path(picture.id), data: {confirm: "本当に編集していいですか?"} %></p>
          <p><%= link_to "記事を削除する", picture_path(picture.id), method: :delete, data: {confirm: "本当に削除していいですか？"} %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>

<% if logged_in? %>
  <%= link_to "新しく記事を投稿する", new_picture_path %>
  <%= link_to "お気に入り", favorites_path %>

<% end %>