
<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>
  <% if @picture.image.url.present? %>
<p>
  <strong>Image:</strong>

    <%= image_tag @picture.image.url %>
</p>

    <% end %>

<%= link_to '編集', edit_picture_path(@picture) %> |
<%= link_to '記事一覧に戻る', pictures_path %>
